.Profile{
    background-color: white;
    width: 60vw;

    margin: 0 auto;
    position: relative;
    top: 5rem;
    border-radius: 25px;
}

.Profile h1{
    position: relative;
    top: 30px;
}

.Profile form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.Profile form label{
    align-self: baseline;
}

.Profile form input{
    margin-bottom: 20px;
}

.Profile form button{
    position: relative;
    top: 20px;
}

p.status{
    /* border: 1px solid red; */

    width: 50%;
    border-radius: 10px;
    color: rgb(54, 54, 54)


}

p.error{
    background-color: rgba(255, 0, 0, 0.481);
}

p.success{
    background-color: rgba(122, 162, 61, 0.488);
}